<a href="https://colab.research.google.com/github/isha-talegaonkar/hurricane-dataset/blob/main/Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")
data=pd.read_csv("/content/gdrive/My Drive/Hurricane Dataset/tweets_with_extracted_additions_from_keywords_list.csv")

Mounted at /content/gdrive

In [ ]:
data.head()

   Unnamed: 0  ...  hashtags
0           1  ...       NaN
1           2  ...       NaN
2           3  ...       NaN
3           4  ...       NaN
4           5  ...       NaN

[5 rows x 29 columns]

In [ ]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'tweetId', 'userName', 'userId', 'text', 'followersCount',
       'friendsCount', 'statusesCount', 'tweetLanguages', 'longObject',
       'userMentionsId', 'userMentionsName', 'replyCount', 'retweetCount',
       'quoted_count', 'hashtagCount', 'containUrls', 'subgroup',
       'containsVideo', 'containsPhoto', 'containHashtags', 'verb',
       'originalText', 'best_topic_20', 'topic_tokens', 'hashtags'],
      dtype='object')

In [ ]:
data = data.drop("Unnamed: 0", axis=1)
data = data.drop("Unnamed: 0.1",axis=1)
data = data.drop("Unnamed: 0.1.1", axis=1)
data = data.drop("Unnamed: 0.1.1.1", axis=1)

In [ ]:
data.head()

              tweetId  ... hashtags
0  907977304160264193  ...      NaN
1  907977248258625538  ...      NaN
2  907977243263152129  ...      NaN
3  907977216264470530  ...      NaN
4  907977270542979072  ...      NaN

[5 rows x 25 columns]

In [ ]:
data.tweetLanguages.unique()

array(['en', 'es'], dtype=object)